<img ng-src="{{mainImg}}" class="beer">

<h1>{{ beer.name }}</h1>
<div class="row">
	<div class="col-md-12">
		<div class="row">
		  <div class="col-xs-6 col-md-3" >
		  	<div class="thumbnail">
		  		<img ng-src="{{beer.img}}" ng-click="setImage(beer.img)">
		  	</div>
		  </div>
		  <div class="col-xs-6 col-md-3" >
		  	<div class="thumbnail">
		  		<img ng-src="{{beer.label}}" ng-click="setImage(beer.label)">
		  	</div>
		      
		  </div>
		</div>
	</div>
	<div class="col-md-12">
		<ul>
			<li>Alcool : {{ beer.alcohol | strongAlcohol }}</li>
			<li>Description : {{ beer.description }}</li>
			<li>Brewery : {{ beer.brewery }}</li>
			<li>Serving : {{ beer.serving }}</li>
			<li>Style : {{ beer.style }}</li>
		</ul>

	</div>
</div>